<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔎 Recherche de thésards</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <div id="researchPart">
            <h1>🔎 Recherche de thésards</h1>
            <input type="text" id="search" onkeyup="searchThese()" placeholder="Tapez pour rechercher...">
            <div id="results"></div>
        </div>
        
        <div id="graphPart">
            <h1>Graphique Interactif</h1>
            <div id="graph"></div>
        </div>
    </div>
</body>
</html>
