body{
    font-family: Arial, Helvetica, sans-serif;
}

#results{
    border-radius: 32px;
    background-color: aliceblue;
    width: 24vw;
    max-height: 75vh;
    padding: 12px;
    overflow: scroll;
}

#results:empty {
    padding: 0;
}

.resultatTheses{
    border-radius: 100px;
    padding: 12px;
}
.resultatTheses>p{
    margin: 0px;
}

.resultatTheses:hover{
    background-color: rgb(161, 211, 255);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.loader div {
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loader div:nth-child(2) {
    animation-delay: -0.32s;
}
.loader div:nth-child(3) {
    animation-delay: -0.16s;
}

@keyframes bounce {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1); }
}
